<% if (loggedin) { %>
  <%- include("partials/secondaryHeader") %> <% } else { %> <%- include("partials/header") %> <% } %>

<%- include("partials/goToTop") %>

<!DOCTYPE html>

<html lang="en">



 

<body>

 

  <section id="pricing">


    <div class="jumbotron" id="test">

      <div class="container-fluid">

 

        <div class="card-deck">

          <% data.forEach(function(item){ %>

            <div class="col-lg-3 col-md-6 ">

            <div class="card m-1">

              <a class="text-dark text-center" href="/product/?name=<%= item.name%>">

                <div class="card-header bg-white">

                  <img class="card-img-top" src="<%= item.bildpfad %>" alt="bike" />

                  <h5 class="card-title mt-2"><%= item.name %></h5>

              </a>

            </div>

           

            <div class="card-body bg-secondary">

              <p class="card-text text-white"><%= item.beschreibung %></p>

            </div>

            </div>

        </div>

        <% } ); %>

      </div>

    </div>

    </div>



  </section>

 

  <button>Press</button>

 

  <!-- <script>

  $(function() {

 

    $("button").on("click", function () {

      $.ajax({

      type: 'GET',

      url: '/fahrraeder',

      success: function(result) {

         $('#test').html(result);

      }

    });

  })

 

});

</script> -->

<%- include('partials/footer') %>