<% if (loggedin) { %>
<%- include("partials/secondaryHeader") %> <% } else { %> <%- include("partials/header") %> <% } %>

<%- include("partials/goToTop") %>

<!doctype html>
<html lang="en">






<body>

    <section>

        <div class="container" id="test">
            <h3 class="text-dark text-center"><%= data[0].Pname %></h3>

            <p class="text-dark text-center"><%= data[0].Hname %></p>
            <img src="<%= data[0].bildpfad %>" class="img-fluid mx-auto d-block">
        </div>



        <div class="container mx-auto bg-light mb-5 rounded">
            <p><b>Preis:</b><br><%= data[0].preis %>€</p>

            <b>Beschreibung: </b><br>
            <p><i><%= data[0].beschreibung %></i><br /></p>

            <form class="form" method="post" action="/add-to-Cart/?pid=<%=data[0].pid%>">
 
                <div class="row">
                    <div class="col"> <% if (von == null) { %>

                        <input id="datepickerFromProduct" name="datepickerFromProduct" value="Von..." readonly />

                        <% } else { %>

                        <input id="datepickerFromProduct" name="datepickerFromProduct" value="<%=von%>"
                            readonly />
                        <% } %>
                        <script>
                            $('#datepickerFromProduct').datepicker({
                                format: 'dd/mm/yyyy',
                                uiLibrary: 'bootstrap4',
                                ignoreReadonly: true,
                                keyBinds: {
                                    'delete': function () {
                                        return false;
                                    }
                                }
                            });
                        </script>
                    </div>
                    <div class="col">

                        <% if (bis == null) { %>

                        <input id="datepickerToProduct" name="datepickerToProduct" value="Bis..." readonly />

                        <% } else { %>

                        <input id="datepickerToProduct" name="datepickerToProduct" value="<%=bis%>" readonly />
                        <% } %>

                        <script>
                            $('#datepickerToProduct').datepicker({
                                format: 'dd/mm/yyyy',
                                uiLibrary: 'bootstrap4',
                                ignoreReadonly: true,
                                keyBinds: {
                                    'delete': function () {
                                        return false;
                                    }
                                }
                            });
                        </script>
                    </div>

                    <div class="col">
                        <button class="btn btn-outline-warning my-2 my-sm-0" id="log" name="log" onclick="update()">Aktualisieren</button>
                    </div>

                    

                

                    <div class="col">
                        <input class="btn btn-outline-warning my-2 my-sm-0 float-right" id="log" type="submit"
                            name="xsubmit" value="In den Warenkorb" />
                    </div>
                </div>
            </form>
        </div>

        <div>
            <span>Vorhandene:<%= data[0].anzahl%></span>
            <span>Pid: <%= data[0].pid%></span>
        </div>
        <!-- Verfügbarkeitstabelle-->
    </section>

    <%- include("partials/footer") %>